<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cinema.minicinema.Mapper.ScreeningMapper">

    <resultMap id="ScreeningDetail" type="com.cinema.minicinema.dto.ScreeningDetailDTO">
        <result property="screeningId" column="screening_id"/>
        <result property="movieId" column="movie_id"/>
        <result property="movieTitle" column="movie_title"/>
        <result property="posterUrl" column="poster_url"/>
        <result property="duration" column="duration"/>
        <result property="genre" column="genre"/>
        <result property="director" column="director"/>
        <result property="actors" column="actors"/>
        <result property="description" column="description"/>
        <result property="cinemaId" column="cinema_id"/>
        <result property="cinemaName" column="cinema_name"/>
        <result property="address" column="address"/>
        <result property="hallId" column="hall_id"/>
        <result property="hallName" column="hall_name"/>
        <result property="totalSeats" column="total_seats"/>
        <result property="screenTime" column="screen_time"/>
        <result property="price" column="price"/>
        <result property="videoType" column="video_type"/>
        <result property="availableSeats" column="available_seats"/>
    </resultMap>

    <!-- parameterType fixed to int to match Java mapper method parameter (Integer) -->
    <select id="selectDetailById" resultMap="ScreeningDetail" parameterType="int">
        SELECT s.screening_id,
               m.movie_id,
               m.title AS movie_title,
               m.poster_url,
               m.duration,
               m.genre,
               m.director,
               m.actors,
               m.description,
               c.cinema_id,
               c.name AS cinema_name,
               c.address,
               h.hall_id,
               h.name AS hall_name,
               h.total_seats,
               s.screen_time,
               s.price,
               s.video_type,
               (
                  SELECT COUNT(*)
                  FROM seats st
                  WHERE st.hall_id = h.hall_id
                    AND st.seat_status = 'AVAILABLE'
               ) AS available_seats
        FROM screenings s
        JOIN movies m ON s.movie_id = m.movie_id
        JOIN cinemas c ON s.cinema_id = c.cinema_id
        JOIN halls h ON s.hall_id = h.hall_id
        WHERE s.screening_id = #{screeningId}
    </select>
</mapper>
