# src/main/resources/application.yml
spring:
  datasource:
    driver-class-name: org.opengauss.Driver
    url: jdbc:opengauss://172.26.63.231:5432/minicinema?sslmode=disable
    username: developer
    password: cinema@123

  # 添加 Redis 配置
  redis:
    host: localhost # 或者 127.0.0.1
    port: 6379
    password: # 默认没有密码，留空即可
    database: 0
    timeout: 3000ms
    lettuce:
      pool:
        max-active: 8
        max-wait: -1ms
        max-idle: 8
        min-idle: 0

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          batch_size: 20
          fetch_size: 50
        order_inserts: true
        order_updates: true
        # Use custom pagination via native query
        use_sql_comments: false
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    cache: false
  mvc:
    static-path-pattern: /static/**
  http:
    encoding:
      charset: UTF-8
      force: true

server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      force: true

mybatis:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  # Mapper XMLs are placed under the Java package path com/cinema/minicinema/Mapper
  # Include both generic mapper folder and package path so mappers are discovered
  mapper-locations: classpath*:/mapper/**/*.xml, classpath*:/com/cinema/minicinema/Mapper/**/*.xml

logging:
  level:
    com.maoyan: debug
