# src/main/resources/application.yml
spring:
  datasource:
    driver-class-name: org.opengauss.Driver
    url: jdbc:opengauss://172.26.63.231:5432/minicinema?sslmode=disable
    username: developer
    password: cinema@123


  # Redis 配置
  redis:
    host: localhost
    port: 6379
    password: "123456"
    database: 0
    timeout: 3000ms
    lettuce:
      pool:
        max-active: 8
        max-wait: -1ms
        max-idle: 8
        min-idle: 0
    client-type: lettuce

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          batch_size: 20
          fetch_size: 50
        order_inserts: true
        order_updates: true
        use_sql_comments: false

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    cache: false

  mvc:
    static-path-pattern: /**

  # Adjusting HTTP encoding configuration
  http:
    encoding:
      enabled: true
      force-request: true
      force-response: true

server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      force: true

mybatis:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  # Mapper XMLs are placed in the standard resources/mapper folder
  mapper-locations: classpath*:/mapper/**/*.xml

logging:
  level:
    com.maoyan: debug